@{
    ViewBag.Title = "Event Items";
}
<h2>Event Items</h2>
<h6>March 3rd, 2018 - 6:00pm-7:00pm EST</h6>
<h6>Lcoation</h6>

<ul class="nav nav-tabs">
    <li class="active"><a href="#silent" data-toggle="tab" aria-expanded="true">Silent Auction</a></li>
    <li class=""><a href="#live" data-toggle="tab" aria-expanded="false">Live Auction</a></li>
</ul>
<div id="myTabContent" class="tab-content">

    <div class="tab-pane fade active in" id="silent">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <input class="form-control" id="focusedInput" onkeyup="myFunction()" type="text" placeholder="Search">
                </div>
            </div>
            <div class="col-lg-1">
                <div class="btn-group">
                    <a href="#" class="btn btn-warning dropdown-toggle" id="Filter" data-toggle="dropdown">Filter <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="selectedvalue">
                        <li><a href="#">Leisure</a></li>
                        <li><a href="#">Artwork</a></li>
                        <li><a href="#">Clothing</a></li>
                        <li><a href="#">Other</a></li>
                        <li class="divider"></li>
                        <li><a href="#" id="All">All</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1">
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">

                    <div id="silentCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#silentCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#silentCarousel" data-slide-to="1"></li>
                            <li data-target="#silentCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="https://brookridgepta.org/wp-content/uploads/2018/02/auction-items-1.gif" alt="Los Angeles" style="width:100%;">
                            </div>

                            <div class="item">
                                <img src="https://brookridgepta.org/wp-content/uploads/2018/02/auction-items-1.gif" alt="Chicago" style="width:100%;">
                            </div>

                            <div class="item">
                                <img src="https://brookridgepta.org/wp-content/uploads/2018/02/auction-items-1.gif" alt="New york" style="width:100%;">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#silentCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#silentCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <div class="caption">
                        <span class="label label-danger">Package</span><span class="badge">3</span>
                        <h3>Silent Package</h3>
                        <p>Package Description</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#editModal">Edit</a>
                        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#viewPackageDetailModal">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://brookridgepta.org/wp-content/uploads/2018/02/auction-items-1.gif">
                    <div class="caption">
                        <span class="label label-success">Individual</span><span class="badge">1</span>
                        <h3>Silent Item</h3>
                        <p>Item Description</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#editModal">Edit</a>
                        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#viewDetailModal">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="live">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <input class="form-control" id="focusedInput" onkeyup="myFunction()" type="text" placeholder="Search">
                </div>
            </div>
            <div class="col-lg-1">
                <div class="btn-group">
                    <a href="#" class="btn btn-warning dropdown-toggle" id="Filter" data-toggle="dropdown">Filter <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="selectedvalue">
                        <li><a href="#">Leisure</a></li>
                        <li><a href="#">Artwork</a></li>
                        <li><a href="#">Clothing</a></li>
                        <li><a href="#">Other</a></li>
                        <li class="divider"></li>
                        <li><a href="#" id="All">All</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1">
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add</a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">

                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="https://brookridgepta.org/wp-content/uploads/2018/02/auction-items-1.gif" alt="Los Angeles" style="width:100%;">
                            </div>

                            <div class="item">
                                <img src="https://brookridgepta.org/wp-content/uploads/2018/02/auction-items-1.gif" alt="Chicago" style="width:100%;">
                            </div>

                            <div class="item">
                                <img src="https://brookridgepta.org/wp-content/uploads/2018/02/auction-items-1.gif" alt="New york" style="width:100%;">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <div class="caption">
                        <span class="label label-danger">Package</span><span class="badge">3</span>
                        <h3>Live Package</h3>
                        <p>Package Description</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#editModal">Edit</a>
                        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#viewPackageDetailModal">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://brookridgepta.org/wp-content/uploads/2018/02/auction-items-1.gif">
                    <div class="caption">
                        <span class="label label-success">Individual</span><span class="badge">1</span>
                        <h3>Live Item</h3>
                        <p>Item Description</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#editModal">Edit</a>
                        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#viewDetailModal">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>






<!----------------------------------------------------------Modal Pop-Ups---------------------------------------------->


<!-- Add Item Modal -->
<div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Item Form</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label for="picture" class="col-lg-2 control-label">Item Image</label>
                                <div class="col-lg-10">
                                    <input type="file" class="form-control" id="picture" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFirstName" class="col-lg-2 control-label">Item Name</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="inputItemName" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textArea" class="col-lg-2 control-label">Description</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" rows="3" id="textArea" placeholder="Description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select" class="col-lg-2 control-label">Category</label>
                                <div class="col-lg-10">
                                    <select class="form-control" id="select">
                                        <option value="" selected disabled>Select One</option>
                                        <option>Leisure</option>
                                        <option>Artwork</option>
                                        <option>Clothing</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="reset" data-dismiss="modal" class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- View Detail Modal -->
<div class="modal fade" id="viewDetailModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Item No. 1</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="thumbnail">
                                    <img src="https://brookridgepta.org/wp-content/uploads/2018/02/auction-items-1.gif">
                                </div>
                            </div>

                            <hr />
                            <p class="col-lg-3">Item Name: </p>
                            <p class="col-lg-9">Silent Item</p>

                            <p class="col-lg-3">Category: </p>
                            <p class="col-lg-9">Leisure</p>

                            <p class="col-lg-3">Description: </p>
                            <p class="col-lg-9">Item Description</p>

                            <p class="col-lg-3">Event Type: </p>
                            <p class="col-lg-9">Silent Auction</p>

                            <p class="col-lg-3">Event Date: </p>
                            <p class="col-lg-9">3/19/2018</p>

                            <p class="col-lg-3">Starting Bid: </p>
                            <p class="col-lg-9">$5.00</p>

                            <p class="col-lg-3">Bid Increment: </p>
                            <p class="col-lg-9">$2.00</p>

                          
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- View Package Detail Modal -->
<div class="modal fade" id="viewPackageDetailModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Package</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="thumbnail">
                                    <div id="Carousel" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#Carousel" data-slide-to="1"></li>
                                            <li data-target="#Carousel" data-slide-to="2"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <img src="https://brookridgepta.org/wp-content/uploads/2018/02/auction-items-1.gif" alt="Los Angeles" style="width:100%;">
                                            </div>

                                            <div class="item">
                                                <img src="https://brookridgepta.org/wp-content/uploads/2018/02/auction-items-1.gif" alt="Chicago" style="width:100%;">
                                            </div>

                                            <div class="item">
                                                <img src="https://brookridgepta.org/wp-content/uploads/2018/02/auction-items-1.gif" alt="New york" style="width:100%;">
                                            </div>
                                        </div>

                                        <!-- Left and right controls -->
                                        <a class="left carousel-control" href="#Carousel" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#Carousel" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <p class="col-lg-3">Item Numbers: </p>
                            <p class="col-lg-9">1, 2, 3</p>

                            <p class="col-lg-3">Item Name: </p>
                            <p class="col-lg-9">Silent Item</p>

                            <p class="col-lg-3">Category: </p>
                            <p class="col-lg-9">Leisure</p>

                            <p class="col-lg-3">Description: </p>
                            <p class="col-lg-9">Item Description</p>

                            <p class="col-lg-3">Event Type: </p>
                            <p class="col-lg-9">Silent Auction</p>

                            <p class="col-lg-3">Event Date: </p>
                            <p class="col-lg-9">3/19/2018</p>

                            <p class="col-lg-3">Starting Bid: </p>
                            <p class="col-lg-9">$5.00</p>

                            <p class="col-lg-3">Bid Increment: </p>
                            <p class="col-lg-9">$2.00</p>
                            
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Edit Item Modal -->
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Item Form</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label for="picture" class="col-lg-2 control-label">Item Image</label>
                                <div class="col-lg-10">
                                    <input type="file" class="form-control" id="picture" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFirstName" class="col-lg-2 control-label">Item Name</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="inputItemName" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textArea" class="col-lg-2 control-label">Description</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" rows="3" id="textArea" placeholder="Description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select" class="col-lg-2 control-label">Category</label>
                                <div class="col-lg-10">
                                    <select class="form-control" id="select">
                                        <option value="" selected disabled>Select One</option>
                                        <option>Leisure</option>
                                        <option>Artwork</option>
                                        <option>Clothing</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="reset" data-dismiss="modal" class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>