@model IEnumerable<CHS_Auction_Site.Models.Events>

@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h2>CHS Auction Dashboard</h2>
    <h4>Annual Revenue Goal: </h4>
    <div class="progress progress-striped active" style="background-color:#ffffff61; width: 50%">
        <div class="progress-bar progress-bar-success" style="width: 45%"></div>
    </div>
    <!--<p class="lead">Dashboard</p>-->
    <p><a href="https://www.chsfl.org/history/" class="btn btn-primary btn-lg">About Us</a></p>
</div>
<div class="panel-body">
    <hr />
    <h3>List of Upcoming Events:</h3>
    @foreach (var item in Model.Where(m => (m.EventStart - DateTime.Now).TotalDays < 30 && (m.EventEnd - DateTime.Now).TotalDays > 0))
    {
        <div id="eventCard" class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4>@Html.DisplayFor(model => item.EventName)</h4>
                    <p>Location: @Html.DisplayFor(model => item.EventLocation)</p>
                    <p>Start Time: @Html.DisplayFor(model => item.EventStart)</p>
                    <a class="btn btn-primary" asp-controller="Events" asp-action="Details" asp-route-id="@item.EventId">Details</a>
                </div>
            </div>
        </div>
    }
</div>