@{
    ViewBag.Title = "Invoice";
}

<h2>*Auction Title* Invoice</h2>
<h3>CHS</h3>
<hr />
<table>
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>Invoice No.: </td>
        <td>##</td>
    </tr>
    <tr>
        <td>Date: </td>
        <td>*Date of Event*</td>
    </tr>
    <tr>
        <td>Event: </td>
        <td>*Name of Event*</td>
    </tr>
    <tr>
        <td>Due Date: </td>
        <td>**</td>
    </tr>
    <tr>
        <td>Bill To: </td>
        <td>*Guest's Name*</td>
    </tr>
    <tr>
        <td> </td>
        <td>*Guest Address*</td>
    </tr>
</table>
<hr />
<table>
    <tr>
        <th>Item</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Artwork</td>
        <td>A painting by a local artist</td>
        <td>$350</td>
    </tr>
    <tr>
        <td>Massage Membership</td>
        <td>2 massages per month at local spa</td>
        <td>$500</td>
    </tr>
</table>
<hr />
<p>Thank you so much for participating in this event!</p>
<hr />
<table>
    <tr>
        <td>Subtotal: </td>
        <td>$850</td>
    </tr>
    <tr>
        <td>Taxes: </td>
        <td>$</td>
    </tr>
    <tr>
        <td>Total: </td>
        <td>$</td>
    </tr>
    <tr>
        <td>Paid: </td>
        <td>$0</td>
    </tr>
</table>